Language:	Cpp
BasedOnStyle:   LLVM
IndentWidth:	4
AccessModifierOffset:	-4
AllowShortFunctionsOnASingleLine:	Empty
ColumnLimit:	100
ConstructorInitializerIndentWidth:	4
ContinuationIndentWidth:	4
PointerAlignment:	Left
AlwaysBreakTemplateDeclarations:	true
BreakStringLiterals:    false
IndentCaseLabels:	false
IndentWrappedFunctionNames:	true
MaxEmptyLinesToKeep:	1
NamespaceIndentation:	Inner
SpaceBeforeAssignmentOperators:	true
Standard:	Auto
TabWidth:	4
UseTab:	Never